body {color:#332F6E; 
    background-color:#F7F2F8; 
}
h1,h2,h3 {color:#A75086;
}
h1,h3,h4{text-align:center;}


a:link {color:#720edd;}
nav a {background-color:#E8D8D8;
    padding: 10px; 
    margin-bottom: 30px;
    }
    nav a:hover {background-color:#A75086;}
.tagline {float:right;} 
.box1,.linkedin,.address {background-color:#f3a3f6; border-radius:1em;padding:5px; margin:15px;float:left;}

.box2 {background-color: #f6c9f8; display:flex; border-radius:1em; padding:13px; margin:15px;float:left; flex-wrap:wrap;}
.map {flex: 1; order: 2; margin-left: 2em;}


.flexbox1{display:flex; flex-basis:75%; justify-content:space-evenly; }
aside{background-color:#ddbacf; border-radius:1em; padding:25px; width: 10em;}
.flexbox2{display:flex;flex-basis:25%;justify-content: space-around;}
.outerflexbox{display:flex;}
.banner{max-width: 100%;}

@media only screen and (max-width:800px) {
    a {display:block; size:100%;}
    span {display:none;} 
    nav a{margin-bottom:0px;}
}
#skip {position:absolute;
    left: -999px;
    background-color:#A75086;
}
#skip:focus {left:10px;}

